<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Asteroid Classification Project</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Heading -->
    <h1>Asteroid Classification Project</h1>
    <!-- Introduction -->
    <section id="introduction">
        <p>In the field of Astronomy, the study of asteroids presents a unique challenge due to the increasing size and complexity of the data involved. Particularly in the realm of Near Earth Objects (NEOs), the accurate classification and characterization of asteroids hold paramount importance, especially in identifying potentially hazardous asteroids for Earth.</p>
        <p>This data science project, initiated in response to the directives from the Jet Propulsion Laboratory (JPL) of the California Institute of Technology, is dedicated to the task of classifying asteroids and estimating their diameters. The primary objective is to determine the characteristics of asteroids, focusing on binary classification for the NEO flag.</p>
    </section>
    
    <!-- Navigation Links -->
    <nav>
        <h2>Explore the Project</h2>
        <ul>
            <!-- Link to Data Preprocessing -->
            <li><a href="/data_preprocessing">Data Preprocessing</a></li>
            <!-- Link to Model Training -->
            <li><a href="/model_training">Model Training</a></li>
            <!-- Link to Prediction -->
            <li><a href="/prediction">Prediction</a></li>
        </ul>
    </nav>
    
    <!-- Footer -->
    <footer>
        <!-- Contact Information -->
        <p>For further information or inquiries, please contact the at https://github.com/AKA-SSH/Asteroids-Classification.</p>
    </footer>
</body>
</html>
